body {
    max-width: 1600px;
    background-color: rgba(245, 245, 245, 1);
    font-family: "Fira sans", sans-serif;
}

/* -------------header-------------*/
header {
    width: 1600px;
    height: 100px;
    margin-bottom: 20px;
}
nav {
    padding: 0 160px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-size: 32px;
    font-weight: bold;
}
nav .sign {
    border: 1px solid rgba(0, 106, 80, 1);
    color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: semi;
}


/* ----------------main------------------*/
main {
    margin: 0 160px ;
}
.newbd-container {
    width: 1280px;
    height: 560px;
    background-color: #C6E4D6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 24px;
    margin-bottom: 80px;
}
.newbd-container .bd2 {
    width: 622px;
    height: 326px;
    padding: 59px 0 117px 117px;
}
.bd2 p {
    font-size: 24px;
    font-weight: medium;
    color: rgba(14, 14, 14, 0.5);
    /* margin-bottom: 20px; */
}
.bd2 h1 {
    font-size: 53px;
    font-weight: bold;
}
.bd2 button {
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    color: #FFFFFF;
}
.bd-flag {
    padding: 80px 60px 80px 0;
}

/*-------------pillars----------*/
.pillars {
    width: 1280px;
}
.pillars h1{
    font-size: 40px;
    font-weight: bold;
}
.pillars .pillars-container {
    display: flex;
    gap: 24px;
    border-radius: 16px;
    justify-content: space-around;
    align-items: center;
}
.pillars-container .innovation, 
.sustainability, 
.infra,
.empower {
    width: 302px;
    height: 300px;
    background-color: white;
    padding: 24px;
    border-radius: 16px;
}

/* --------------Vision Future------------ */

.future-vision {
    width: 1280px;
    height: 765px;
    margin-bottom: 80px;
}
.future-vision h1 {
    font-size: 40px;
    font-weight: bold;
}
.future-vision p {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}
.future-vision .future-goal {
    display: flex;   
    gap: 24px;
    margin-bottom: 32px;
}
.future-goal .transfomation {
    width: 410px;
    width: 325px;
    padding: 32px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}
.future-goal .energy {
    width: 410px;
    width: 325px;
    padding: 32px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
}
.future-goal .infrastructure {
    width: 410px;
    width: 325px;
    padding: 32px;
    background-color: rgba(247, 235, 207, 1);
    border-radius: 16px;
} 
.future-goal .button {
    border-radius: 8px;
    font-size: 16px;
    font-weight: semibold;
    padding: 11px 20px;
    color: #ffffff;
    border: none;
    outline: none;
}
.future-goal .button-1 {
    background-color: rgba(84, 144, 245, 1);
}
.future-goal .button-1:hover {
    background-color: rgba(8, 85, 218, 0.97);
    border-radius: 20px 0px 20px 0px;
    transition: all 0.3s ease-in-out;
}
.future-goal .button-2 {
    background-color: rgba(9, 161, 92, 1);
}
.future-goal .button-2:hover{
    background-color: rgb(25, 118, 76);
    border-radius: 20px 0px 20px 0px;
    transition: all 0.3s ease-in;
}

.future-goal .button-3{
    background-color: rgba(255, 194, 57, 1);
}
.future-goal .button-3:hover{
    background-color: rgb(213, 153, 13);
    border-radius: 20px 0px 20px 0px;
    transition: all 0.3s ease-in;
}

.future-vision .gov-speech{
    border: 1px solid #C6E4D6;
    background-color: white;
    border-radius: 16px;
    padding: 38px 24px;
}
.gov-speech .gov-speech-container {
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.gov-speech .gov-speech-container p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    line-height: 24px;
}
.gov-speech .gov-speech-container h3{
    line-height: 24px;
}

/* ----------Recent News----------- */
.recent-news {
    width: 1280px;
    /* height: 980px; */
    height: 1406px;
}
.recent-news h1 {
    font-size: 40px;
    font-weight: bold;
}
.recent-news p{
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
.recent-news .news-1 {
    box-sizing: border-box;
    display: flex;
    gap: 24px;
    width: 1280px;
    height: 402px;
    border-radius: 24px;
    padding: 38px;
    background-color: #FFFFFF;
    margin-bottom: 24px;
}
.recent-news .news-1 img{
    border-radius: 24px;
}
.new-satellite {
    margin-top: -20px;
    width: 744px;
    height: 290px;
}
.new-satellite h1{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.new-satellite button {
    padding: 13px 26px;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    border: none;
    outline: none;
    color: #FFFFFF;
}

/*---------------Done Today------------*/
.donate-container {
    width: 1280px;
    height: 463px;
    margin-bottom: 80px;
}
.donate-container h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.donate-container p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
    line-height: 24px;
}
.donate-container .donate-amount{
    display: flex;
    justify-content: space-around;
    padding: 0 104px;
    margin-bottom: 32px;
}
.donate-amount button {
    border-radius: 16px;
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
    border: 1px solid rgba(157, 153, 153, 0.2);

}
.input-container {
    margin: 0 124px 32px 124px;
}
.donate-container input[type="text"]{
    padding: 20px 40px;
    width: 1032px;
    height: 64px;
    display: block;
    text-align: center;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    background-color: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}
.donate-amount .button-2 {
    background-color: rgba(198, 228, 214, 1);
}
.donate-container .done{
    text-align: center;
}
.donate-container .done button{
    border-radius: 8px;
    color: #FFFFFF;
    background-color: rgba(0, 106, 80, 1);
    color: 18px;
    font-weight: semi-bold;
    padding: 17px 34px;
    border: none;
    outline: none;
}

/*-------------Newsletter--------------*/
.newsletter-containter {
    width: 1280px;
    height: 395px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-bottom;:80px
}
.newsletter-containter  .newsletter {
    width: 750px;
    height: 235px;
    margin: 0px 64px;
}
.newsletter-containter  .newsletter h1{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}
.newsletter-containter  .newsletter p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.newsletter-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 0 15px 15px 0;
}
.newsletter-input input[type="email"] {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 18px 0 18px 40px;
    font-weight: 14px;
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
}
.subscribe {
    border: none;
    outline: none;
    padding: 18px 50px;
    background: #006A50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}
.newsletter-input .subscribe:hover{
    background: #02bb49;
    transition: clip-path 1s ease-in-out;
}

.hover-button:hover:not(.newsletter .newsletter-input button){
    border-radius: 20px 0px 20px 0px;
    color: white;
    background: #02bb49;
    transition: all 0.3s ease-in;
}
.done .hover-button:hover{
    border-radius: 20px 0px 20px 0px;
    color: white;
    background: #02bb49;
    transition: all 0.3s ease-in;
}
.donate-card:hover{
    background-color: rgba(198, 228, 214, 1);
    transition: all 0.3s ease-in;
}

/*-------------Footer-------------*/
footer{
    width: 1600px;
    height: 226px;
    background-color: white;
    text-align: center;
}
footer h1{
    padding: 50px 0 32px 0;
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}
footer hr {
    color: rgba(14, 14, 14, 0.1);
    margin: 0px 239px;
    margin-bottom: 32px;
}
.social-media img{
    width: 24px;
    margin-left: 24px;
}
