body {
    max-width: 1600px;
    background-color: rgba(245, 245, 245, 1);
}
main {
    margin: 0 160px ;
}
.newbd-container {
    width: 1280px;
    height: 560px;
    background-color: #C6E4D6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 24px;
    margin-bottom: 80px;
}
.newbd-container .bd2 {
    width: 622px;
    height: 326px;
    padding: 60px 0 117px 117px;
}
.bd2 p {
    font-size: 24px;
    font-weight: medium;
    color: rgba(14, 14, 14, 0.5);
    /* margin-bottom: 20px; */
}
.bd2 h1 {
    font-size: 56px;
    font-weight: bold;
}
.bd2 button {
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    color: #FFFFFF;
}
.bd-flag {
    padding: 80px 60px 80px 0;
}


/* Vision Future */
.future-vision {
    width: 1280px;
    height: 765px;
    margin-bottom: 80px;
}
.future-vision h1 {
    font-size: 40px;
    font-weight: bold;
}
.future-vision p {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}
.future-vision .future-goal {
    display: flex;   
    gap: 24px;
    margin-bottom: 32px;
}
.future-goal .transfomation {
    padding: 32px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}
.future-goal .energy {
    padding: 32px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
}
.future-goal .infrastructure {
    padding: 32px;
    background-color: rgba(247, 235, 207, 1);
    border-radius: 16px;
} 
.future-goal .button {
    border-radius: 8px;
    font-size: 16px;
    font-weight: semibold;
    padding: 11px 20px;
    color: #ffffff;
    border: none;
    outline: none;
}
.future-goal .button-1 {
    background-color: rgba(84, 144, 245, 1);
}
.future-goal .button-2 {
    background-color: rgba(9, 161, 92, 1);
}
.future-goal .button-3{
    background-color: rgba(255, 194, 57, 1);
}
.future-vision .gov-speech{
    border: 1px solid #C6E4D6;
    border-radius: 16px;
    padding: 38px 24px;
}
.gov-speech .gov-speech-container {
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
}
.gov-speech .gov-speech-container p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    line-height: 24px;
}
.gov-speech .gov-speech-container h3{
    line-height: 24px;
}

/* ----------Recent News----------- */
.recent-news {
    width: 1280px;
    /* height: 980px; */
    height: 1406px;
}
.recent-news h1 {
    font-size: 40px;
    font-weight: bold;
}
.recent-news p{
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
.recent-news .news-1 {
    box-sizing: border-box;
    display: flex;
    gap: 24px;
    width: 1280px;
    height: 402px;
    border-radius: 24px;
    padding: 38px;
    background-color: #FFFFFF;
    margin-bottom: 24px;
}
.recent-news .news-1 img{
    border-radius: 24px;
}
.new-satellite {
    margin-top: -20px;
    width: 744px;
    height: 290px;
}
.new-satellite h1{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.new-satellite button {
    padding: 13px 26px;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    border: none;
    outline: none;
    color: #FFFFFF;
}

/*---------------Done Today------------*/
.donate-container {
    width: 1280px;
    height: 463px;
    margin-bottom: 80px;
}
.donate-container h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.donate-container p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
    line-height: 24px;
}
.donate-container .donate-amount{
    display: flex;
    justify-content: space-around;
    padding: 0 104px;
    margin-bottom: 32px;
}
.donate-amount button {
    border-radius: 16px;
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
    border: 1px solid rgba(157, 153, 153, 0.2);

}
.input-container {
    margin: 0 124px 32px 124px;
}
.donate-container input[type="text"]{
    padding: 20px 40px;
    width: 1032px;
    height: 64px;
    display: block;
    text-align: center;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    background-color: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}
.donate-amount .button-2 {
    background-color: rgba(198, 228, 214, 1);
}
.donate-container .done{
    text-align: center;
}
.donate-container .done button{
    border-radius: 8px;
    color: #FFFFFF;
    background-color: rgba(0, 106, 80, 1);
    color: 18px;
    font-weight: semi-bold;
    padding: 17px 34px;
    border: none;
    outline: none;
}

/*-------------Newsletter--------------*/











